body{
    background-color: #3a9bdc;
    text-align: center;
    color: #ffffff;
    font-family: 'segoe UI', sans-serif;
    display: flex;
    justify-content:center;
    padding: 20px;
}

.container {
    width: 400px;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #464646;
    box-shadow: o 10px 30px rgba(0,0,0,0.5);
}
h1{
    color: rgb(39, 45, 151);
    text-align: center;
}

h3{
    color: #fbfbfb;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}
.card{
    background: #252525;
    padding: 15px;
    border-radius: 5px;
    border-left: 5px solid #0f8;
}

button{
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    background-color: rgb(39, 45, 151);
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
button:hover {
    background-color: #3143e2;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    padding: 5px o;
    color: #ccc;
}
input, select{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #252525;
    color: white;
    box-sizing: border-box;
}
hr{
    border: 0;
    border-top: lpx solid #333;
    margin: 20px 0;
}

